html{
    font-size:62.5%; 
}
body +.poema{
    
    background:#fff; 
}
.container{
    max-width:1140px; 
    margin: 0 auto; 
    overflow:hidden; 
   
}
.list{
    list-style:none; 
    padding-left:0;
   
    
}
a {
    text-decoration: none;
  }
.nav{
    color:#000; 
    display:flex;
    justify-content:space-between; 
    flex-wrap:wrap; 
    padding:0 1rem; 
    align-items:center; 
}

.nav__list{
    width:100%; 
    margin:0; 

}

.nav__item{
    padding:0.5em 2rem; 
    

}

.nav__item >a{
    color:#000; 
    transition:color .3s; 
}

.nav__item >a:hover{
    color:#4f4545; 
}

.nav__toggler{
   opacity:.5; 
   transition:box-shadow .15s; 
   cursor:pointer; 
}

.nav.collapsible--expanded .nav__toggler{
    opacity:1; 
    
} 

.nav__brand{
     
    transform:translateY(5px); 
}

@media screen and (min-width:768px){
    .nav__toggler{
        display:none; 
    }
    .nav__list {
        width:auto; 
        display:flex;
        
        max-height:100%; 
        opacity:1;
        

    }
    .nav__item{
        border:0; 
        
    }.collapsible{
        pointer-events: none;
       
        
    }.collapsible a{
        pointer-events:all;     
    }
    
}

.icon{
    width:5rem; 
    height:40px;
}
.icon--primary{
    fill:var(--color-primary);
}

.icon--small{
    width:30px; 
    height:30px; 
}.poemass-22{
    border:10px solid #fff !important;
}
.options{
    margin-top:-3rem;
    justify-content:center; 
    overflow: hidden !important;
}
.icon--white{
    fill:white;
}

.icon-container{
    margin-top:-10rem;
    width:64px; 
    height:64px; 
    border-radius:100%; 
    display:inline-flex;
    justify-content:center; 
    align-items:center; 
    gap:4rem; 
    
}

.icon-container--accent{
    background:var(--color-accent);
}

.poemario{
    text-align: center;
    align-content: center;
    border:2px solid #000; 
    height:70%; 
    width:70%; 
     
}
.carousel,.carousel-inner{
    height:50vh; 
    display:inline-block;
    width:30%; 
    display:flex; 
    justify-content: center;
    align-items: center;
    
}
